body {
  background-color: var(--background);
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
}

.tela {
  width: 100%;
  max-width: 1100px; 
  border-radius: 16px;
  padding: 30px 90px;
  padding-right: 6rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--primary-color-light);
}

.logo {
  color: var(--primary-color);
  font-size: 24px;
}

.mensagem {
  color: var(--gray-color-1);
  font-size: 18px;
}

.add-tarefas h1 {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: var(--gray-color-1);
}

.form-tarefas {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-tarefas input {
  font-size: 18px;
  background: var(--primary-color-super-light);
  border: 1px solid var(--primary-color);
  border-radius: 13px;
  flex: 1;
  padding: 14px 16px;
  color: var(--primary-color);
}

.form-tarefas input::placeholder {
  color: var(--primary-color);
}

.form-tarefas button {
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 13px;
  padding: 14px 24px;
}

hr {
  margin-top: 40px;
  height: 1px;
  border: none;
  background-color: var(--primary-color-super-light);
}

.minhas-tarefas {
  margin-top: 30px;
}

.minhas-tarefas h1 {
  font-size: 22px;
  color: var(--gray-color-1);
  margin-bottom: 8px;
}

.minhas-tarefas p {
  font-size: 18px;
  color: var(--gray-color-2);
}

.form-registros {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: var(--gray-color-2);
  margin-top: 2rem;
}

.form-registros .emoji {
  font-size: 28px;
  margin-bottom: 8px;
}

.tarefa {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background: var(--primary-color-super-light);
  border: 1px solid var(--primary-color);
  border-radius: 13px;
  color: var(--primary-color);
  flex: 1;
  padding: 14px 16px;
  width: 914px;
}

.conteudo-tarefa {
  display: flex;
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
  width: 24px;
}

.texto-tarefa {
  margin-left: 20px;
}

.texto-tarefa h4 {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.texto-tarefa p {
  font-size: 14px;
  color: var(--gray-color-1)
}

.tarefa i {
  margin-top: auto;
  margin-bottom: auto;
}